<p id="notice"><%= notice %></p>

<p>
  <strong>Period:</strong>
  <%= @income_statement.period %>
</p>

<p>
  <strong>Date:</strong>
  <%= @income_statement.date %>
</p>

<p>
  <strong>Total revenue:</strong>
  <%= @income_statement.total_revenue %>
</p>

<p>
  <strong>Cost of revenue:</strong>
  <%= @income_statement.cost_of_revenue %>
</p>

<p>
  <strong>Gross profit:</strong>
  <%= @income_statement.gross_profit %>
</p>

<p>
  <strong>Operating expense:</strong>
  <%= @income_statement.operating_expense %>
</p>

<p>
  <strong>Operating income:</strong>
  <%= @income_statement.operating_income %>
</p>

<p>
  <strong>Net non operating interest income expense:</strong>
  <%= @income_statement.net_non_operating_interest_income_expense %>
</p>

<p>
  <strong>Other income expense:</strong>
  <%= @income_statement.other_income_expense %>
</p>

<p>
  <strong>Pretax income:</strong>
  <%= @income_statement.pretax_income %>
</p>

<p>
  <strong>Tax provision:</strong>
  <%= @income_statement.tax_provision %>
</p>

<p>
  <strong>Net income common stockholders:</strong>
  <%= @income_statement.net_income_common_stockholders %>
</p>

<p>
  <strong>Diluted ni available to com stockholders:</strong>
  <%= @income_statement.diluted_ni_available_to_com_stockholders %>
</p>

<p>
  <strong>Basic eps:</strong>
  <%= @income_statement.basic_eps %>
</p>

<p>
  <strong>Diluted eps:</strong>
  <%= @income_statement.diluted_eps %>
</p>

<p>
  <strong>Basic average shares:</strong>
  <%= @income_statement.basic_average_shares %>
</p>

<p>
  <strong>Diluted average shares:</strong>
  <%= @income_statement.diluted_average_shares %>
</p>

<p>
  <strong>Total operating income as reported:</strong>
  <%= @income_statement.total_operating_income_as_reported %>
</p>

<p>
  <strong>Total expenses:</strong>
  <%= @income_statement.total_expenses %>
</p>

<p>
  <strong>Net income from continuing and discontinued operation:</strong>
  <%= @income_statement.net_income_from_continuing_and_discontinued_operation %>
</p>

<p>
  <strong>Normalized income:</strong>
  <%= @income_statement.normalized_income %>
</p>

<p>
  <strong>Interest income:</strong>
  <%= @income_statement.interest_income %>
</p>

<p>
  <strong>Interest expense:</strong>
  <%= @income_statement.interest_expense %>
</p>

<p>
  <strong>Net interest income:</strong>
  <%= @income_statement.net_interest_income %>
</p>

<p>
  <strong>Ebit:</strong>
  <%= @income_statement.ebit %>
</p>

<p>
  <strong>Ebitda:</strong>
  <%= @income_statement.ebitda %>
</p>

<p>
  <strong>Reconciled cost of revenue:</strong>
  <%= @income_statement.reconciled_cost_of_revenue %>
</p>

<p>
  <strong>Reconciled depreciation:</strong>
  <%= @income_statement.reconciled_depreciation %>
</p>

<p>
  <strong>Net income from continuing operation net minority interest:</strong>
  <%= @income_statement.net_income_from_continuing_operation_net_minority_interest %>
</p>

<p>
  <strong>Normalized ebitda:</strong>
  <%= @income_statement.normalized_ebitda %>
</p>

<p>
  <strong>Tax rate for calcs:</strong>
  <%= @income_statement.tax_rate_for_calcs %>
</p>

<p>
  <strong>Tax effect of unusual items:</strong>
  <%= @income_statement.tax_effect_of_unusual_items %>
</p>

<%= link_to 'Edit', edit_income_statement_path(@income_statement) %> |
<%= link_to 'Back', income_statements_path %>
