<p id="notice"><%= notice %></p>

<h1>Currencies</h1>

<table>
  <thead>
    <tr>
      <th>Currency iso</th>
      <th>Exchange rate to eur</th>
      <th>Last update</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @currencies.each do |currency| %>
    <tr>
      <td><%= currency.currency_ISO %></td>
      <td><%= currency.exchange_rate_to_EUR %></td>
      <td><%= currency.updated_at %></td>
      <td><%= link_to 'Show', currency %></td>
      <td><%= link_to 'Edit', edit_currency_path(currency) %></td>
      <td><%= link_to 'Destroy', currency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Currency', new_currency_path %>