<p id="notice"><%= notice %></p>

<h1>Currencies</h1>

<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Currency iso</th>
      <th class="right-align">Exchange rate to EUR</th>
      <th class="right-align">Last update</th>
    </tr>
  </thead>

  <tbody>
    <% @currencies.each do |currency| %>
    <tr>
      <td><%= currency.currency_ISO %></td>
      <td class="right-align"><%= number_with_precision(currency.exchange_rate_to_EUR,precision:2) %></td>
      <td class="right-align"><%= currency.updated_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Currency', new_currency_path %>