<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
  <%= image_tag "https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/320/apple/271/evergreen-tree_1f332.png" %> Evergreen
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Companies", companies_path, class: "nav-link"%>
      </li>
      <li class="nav-item active">
        <%= link_to "Products", products_path, class: "nav-link"%>
      </li>
      <li class="nav-item active">
        <%= link_to "Trades", trades_path, class: "nav-link"%>
      </li>
      <li class="nav-item active">
        <%= link_to "Currencies", currencies_path, class: "nav-link"%>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item active">
        <%= link_to "Profile", edit_user_registration_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "https://styles.redditmedia.com/t5_2th52/styles/communityIcon_b37n2zfs8k861.png?width=256&s=a9cb63319055ded916e5b12ff03f1e8c63ae6911", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Action", "#", class: "dropdown-item" %>
          <%= link_to "Another action", "#", class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      <li class="nav-item">
        <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
        Log out
        <% end %>
      </li>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
      <% end %>
      <li class="nav-item">
        <%= link_to "Impressum", pages_impressum_path, class: "nav-link"%>
      </li>
    </ul>
  </div>
</div>