<div class="container-fluid">
  <div class="row portfolio-row">
    <div class="col-6 portfolio-dashboard">
      TBD PERFROMANCE CHART
    </div>
    <div class="col-sm portfolio-dashboard">
      <iframe
      class="portfolio-performance-table"
      src="<%= @total_gain_absolut %>"
      frameborder="0"
      allowtransparency>
      </iframe>
    </div>
    <div class="col-sm portfolio-dashboard">
      <iframe
      class="portfolio-performance-table"
      src="<%= @total_gain_percentage %>"
      frameborder="0"
      allowtransparency>
      </iframe>
    </div>
  </div>
  <div class="row portfolio-row">
    <div class="col-sm portfolio-dashboard">
      <iframe
      class="portfolio-performance-table"
      src="<%= @product_split %>"
      frameborder="0"
      allowtransparency>
      </iframe>
    </div>
    <div class="col-sm portfolio-dashboard">
      <iframe
      class="portfolio-performance-table"
      src="<%= @sector_split %>"
      frameborder="0"
      allowtransparency>
      </iframe>
    </div>
    <div class="col-sm portfolio-dashboard">
      <iframe
      class="portfolio-performance-table"
      src="<%= @type_split %>"
      frameborder="0"
      allowtransparency>
      </iframe>
    </div>
    <div class="col-sm portfolio-dashboard">
      <iframe
      class="portfolio-performance-table"
      src="<%= @geo_split %>"
      frameborder="0"
      allowtransparency>
      </iframe>
    </div>
  </div>
  <div class="row portfolio-row">
    <div class="col-sm portfolio-dashboard">
      <iframe
      class="portfolio-performance-table"
      src="<%= @product_performance %>"
      frameborder="0"
      allowtransparency>
      </iframe>
    </div>
    <div class="col-sm portfolio-dashboard">
      <iframe
      class="portfolio-performance-table"
      src="<%= @sector_performance %>"
      frameborder="0"
      allowtransparency>
      </iframe>
    </div>
    <div class="col-sm portfolio-dashboard">
      One of three columns
    </div>
    <div class="col-sm portfolio-dashboard">
      One of three columns
    </div>
  </div>
  <div class="row portfolio-row">
    <iframe
    class="portfolio-performance-table"
    src="<%= @portfolio_table %>"
    frameborder="0"
    allowtransparency>
    </iframe>
  </div>
</div>