<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">

    <div class="col-sm">
      <h1>Companies (Total: <%= @companies.count%>) </h1>
    </div>

    <div class="col-sm">
      <%= will_paginate @companies, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>

    <div class="col-sm">
      <div class="searchbar">
        <%= form_tag companies_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search for Company"
        %>
        <% end %>
      </div>
    </div>

    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Ticker</th>
          <th>Description</th>
          <th>Industry</th>
          <th>Sector</th>
          <th>Headquarter</th>
          <th>Employees</th>
        </tr>
      </thead>

      <tbody>
        <% @companies.each do |company| %>
        <tr>
          <td><%= link_to company.products.first.name, company %></td>
          <td><%= company.ticker %></td>
          <td><%= company.description %></td>
          <td><%= company.industry %></td>
          <td><%= company.sector %></td>
          <td><%= company.country_headquarter %></td>
          <td><%= company.number_of_employees %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Company', new_company_path %>