<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>Uuid</th>
      <th>Industry</th>
      <th>Description</th>
      <th>Sector</th>
      <th>Shares outstanding</th>
      <th>Headquarter</th>
      <th>Employees</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.uuid %></td>
        <td><%= company.industry %></td>
        <td><%= company.description %></td>
        <td><%= company.sector %></td>
        <td><%= company.shares_outstanding %></td>
        <td><%= company.headquarter %></td>
        <td><%= company.employees %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
