<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @company.uuid %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @company.industry %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @company.sector %>
</p>

<p>
  <strong>Shares outstanding:</strong>
  <%= @company.shares_outstanding %>
</p>

<p>
  <strong>Headquarter:</strong>
  <%= @company.headquarter %>
</p>

<p>
  <strong>Employees:</strong>
  <%= @company.employees %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
