<p id="notice"><%= notice %></p>

<h1>Products</h1>

<%= link_to 'New Product', new_product_path, class:"btn btn-secondary"%>
<br />
<br />

<table data-toggle="table">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Ticker</th>
      <th>Equity Type</th>
      <th class="right-align">L&S Last Price EUR</th>
      <th>Recommendations (1 best - 5 worst)</th>
      <th class="right-align">Price Potential (Target Price/ Last Price)</th>
      <th class="right-align">Mean target price EUR</th>
      <th class="right-align">Yahoo Last Price EUR</th>
      <th>Number of analysts</th>
      <th>Volume (24h) in T</th>
      <th>Base Currency</th>
      <th>Recommendation</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= link_to product.name, product %></td>
      <td><%= product.ticker %></td>
      <td><%= product.equity_type %></td>
      <td class="right-align">€ <%= (product.get_price.to_d / 10000)&.round(2) %></td>
      <td><%= product.recommendations %></td>
      <td class="right-align"><%= (product.price_potential&.*100)&.round(0).to_i %>%</td>
      <td class="right-align">€ <%= (product.mean_target_price.to_d / 10000)&.round(2) %></td>
      <td class="right-align">€ <%= (product.price_yahoo.to_d / 10000)&.round(2) %></td>
      <td><%= product.number_of_analysts %></td>
      <td>€ <%= (VolumeCalculator.call({product: product, startdate: 1.day.ago, enddate: Time.now}) / 1000000) %></td>
      <td><%= product.currency_base%></td>
      <td><%= product.stock_analyzer%></td>
      <td><%= link_to 'Edit', edit_product_path(product), class:"btn btn-outline-dark btn-sm" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>