<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Isin</th>
      <th>Name</th>
      <th>Ticker</th>
      <th>Long Name</th>
      <th>Equity Type</th>
      <th>Recommendations</th>
      <th>Mean target price</th>
      <th>Number of analysts</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.isin %></td>
        <td><%= link_to product.name, product %></td>
        <td><%= product.ticker %></td>
        <td><%= product.long_name %></td>
        <td><%= product.equity_type %></td>
        <td><%= product.recommendations %></td>
        <td><%= product.mean_target_price %></td>
        <td><%= product.number_of_analysts %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
