<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1 class="display-4"><%= @product.name %></h1>
  <br>
  <p class="lead">ISIN: <%= @product.isin %></p>
  <p class="lead">Long Name: <%= @product.long_name %></p>
  <p class="lead">Equity Type: <%= @product.equity_type %></p>
  <p class="lead">Recommendations: <%= @product.recommendations %></p>
  <p class="lead">Mean target price: <%= @product.mean_target_price %></p>
  <p class="lead">Number of analysts: <%= @product.number_of_analysts %></p>
  <p class="lead">Ticker: <%= @product.ticker %></p>
  <%= link_to 'Edit', edit_product_path(@product), class:"btn btn-secondary"%>
  <%= link_to 'Back', products_path, class:"btn btn-secondary"%>
  </p>
</div>