<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1 class="display-4"><%= @product.name %></h1>
  <br>
  <h4> Description: </h4>
  <p class="lead"> <%= @product.company&.description %></p>
  <p class="lead">Industry: <%= @product.company&.industry %></p>
  <p class="lead">Sector: <%= @product.company&.sector%></p>
  <p class="lead">Employees: <%= @product.company&.number_of_employees%></p>
  <p class="lead">Headquarter: <%= @product.company&.country_headquarter%></p>
  <p class="lead">Website: <%= @product.company&.website%></p>
  <p class="lead">Phone number: <%= @product.company&.phone_number%></p>
  <p class="lead">Address: <%= @product.company&.address%></p>
  <p class="lead">Sector: <%= @product.company&.sector%></p>
  <p class="lead">ISIN: <%= @product.isin %></p>
  <p class="lead">Long Name: <%= @product.long_name %></p>
  <p class="lead">Equity Type: <%= @product.equity_type %></p>
  <p class="lead">Recommendations: <%= @product.recommendations %></p>
  <p class="lead">Mean target price: <%= @product.mean_target_price %></p>
  <p class="lead">Number of analysts: <%= @product.number_of_analysts %></p>
  <p class="lead">Ticker: <%= @product.ticker %></p>
  <br>
  <div class="row metabase-row">
    <iframe class="current-price"
      src="<%= @iframe_url %>"
      frameborder="0"
      allowtransparency
    ></iframe>
  </div>
  <br>
  <h3> Latest Trades </h3>
  <br>

  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Trade uuid</th>
        <th>Isin</th>
        <th>Name</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Total</th>
        <th>Time</th>
      </tr>
    </thead>

    <tbody>
      <% @trades.each do |trade| %>
      <tr>
        <td><%= trade.trade_uuid %></td>
        <td><%= trade.isin %></td>
        <td><%= trade.name %></td>
        <td>€ <%= number_with_precision((trade.price.to_f / 10000), precision: 2) %></td>
        <td><%= trade.amount %></td>
        <td>€ <%= number_with_precision((trade.amount * trade.price.to_f / 10000), precision: 2) %></td>
        <td><%= trade.time %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Edit Product', edit_product_path(@product), class:"btn btn-secondary"%>
  <%= link_to 'Back', products_path, class:"btn btn-secondary"%>
  <%= link_to 'New Trade', new_trade_path(trade: { product_id: @product.id }), class: "btn btn-primary" %>
  </p>
</div>