<p id="notice"><%= notice %></p>

<h1>Trades</h1>
<br>
<%= will_paginate @trades, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<br>
<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Trade uuid</th>
      <th>Isin</th>
      <th>Name</th>
      <th>Time</th>
      <th>Price</th>
      <th>Amount</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @trades.each do |trade| %>
    <tr>
      <td><%= trade.trade_uuid %></td>
      <td><%= trade.isin %></td>
      <td><%= link_to trade.name, trade %></td>
      <td><%= trade.time %></td>
      <td>€ <%= number_with_precision((trade.price.to_f / 10000), precision: 2) %></td>
      <td><%= trade.amount %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trade', new_trade_path %>