<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1 class="display-4"><%= @trade.name %></h1>
  <br>
  <p class="lead">Trade uuid: <%= @trade.trade_uuid %></p>
  <p class="lead">Isin: <%= @trade.isin %></p>
  <p class="lead">Name: <%= @trade.name %></p>
  <p class="lead">Time: <%= @trade.time %></p>
  <p class="lead">Price: € <%= number_with_precision((@trade.price.to_f / 10000), precision: 2) %></p>
  <p class="lead">Amount: <%= @trade.amount %></p>
  <p class="lead">Total: € <%= number_with_precision((@trade.amount.to_f * @trade.price.to_f / 10000), precision: 2) %></p>
  <br>
  <br>

  <%= link_to 'Edit', edit_trade_path(@trade), class:"btn btn-secondary"%>
  <%= link_to 'Back', trades_path, class:"btn btn-secondary"%>