<p id="notice"><%= notice %></p>

<p>
  <strong>Trade uuid:</strong>
  <%= @trade.trade_uuid %>
</p>

<p>
  <strong>Isin:</strong>
  <%= @trade.isin %>
</p>

<p>
  <strong>Name:</strong>
  <%= @trade.name %>
</p>

<p>
  <strong>Time:</strong>
  <%= @trade.time %>
</p>

<p>
  <strong>Price:</strong>
  <%= @trade.price %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @trade.amount %>
</p>

<%= link_to 'Edit', edit_trade_path(@trade) %> |
<%= link_to 'Back', trades_path %>
