<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1 class="display-4"><%= @trade.name %></h1>
  <br>
  <p class="lead">Trade uuid: <%= @trade.trade_uuid %></p>
  <p class="lead">Isin: <%= @trade.isin %></p>
  <p class="lead">Name: <%= @trade.name %></p>
  <p class="lead">Time: <%= @trade.time %></p>
  <p class="lead">Price: € <%= number_with_precision((@trade.price.to_f / 10000), precision: 2) %></p>
  <p class="lead">Amount: <%= @trade.amount %></p>
  <p class="lead">Total: € <%= number_with_precision((@trade.amount.to_f * @trade.price.to_f / 10000), precision: 2) %></p>
  <br>
  <br>
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Trade uuid</th>
        <th>Isin</th>
        <th>Name</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Total</th>
        <th>Time</th>
      </tr>
    </thead>

    <tbody>
      <% @trades.each do |trade| %>
      <tr>
        <td><%= trade.trade_uuid %></td>
        <td><%= trade.isin %></td>
        <td><%= trade.name %></td>
        <td>€ <%= number_with_precision((trade.price.to_f / 10000), precision: 2) %></td>
        <td><%= trade.amount %></td>
        <td>€ <%= number_with_precision((trade.amount * trade.price.to_f / 10000), precision: 2) %></td>
        <td><%= trade.time %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <br>